# Copiar a .env.test
DJANGO_SETTINGS_MODULE=config.settings.production
DJANGO_SECRET_KEY=cambia-esto
DJANGO_DEBUG=False
DJANGO_SECURE_SSL=False
DJANGO_ALLOWED_HOSTS=2.25.75.20
DJANGO_CSRF_TRUSTED_ORIGINS=http://2.25.75.20:8080
CORS_ALLOWED_ORIGINS=http://2.25.75.20:8080
POSTGRES_DB=surtiweb
POSTGRES_USER=surtiweb
POSTGRES_PASSWORD=cambia-esto
